@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
}
h2{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 20px;
}
p{
  margin-top: 20px;
  font-size: 20px;
}
.ctaComFoto section{
  width: 100%;
  height: auto;
  display: flex;
}
.ctaComFoto article{
  margin: 5% auto;
  width: 74%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 5%;

}
.ctaComFoto img{
  margin-top: 20px;
  width: 350px;
}
.ctaComFoto span{
  display: block;
}
.ctaComFoto a{
display: inline-block;
margin-top: 20px;
margin-left: 70%;
background: #FF8AAF;
padding: 10px 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 8px;
color: #470117;
}

.sobreProjeto{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #FFB9DB;
}
.sobreProjeto{
  width: 100%;
}
.sobreCentral{
  display: grid;
  width: 80%;
  justify-items: center;
  align-items: center;
  margin: 5% auto;
}
.sobreColumm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 5%;
}
.sobreCentral img{
  margin-top: 20px;
  width: 350px;
  border-radius: 50%;
}
.sobreColumm{
  width: 90%;
  display: flex;
  margin: 5% auto;
}
.sobreColumm img{
  margin-top: 20px;
  width: 350px;
}

@media (min-width: 926px){
#header {
 
  box-sizing: border-box;
  background-color: #FFF5F9;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 70px;
  border-bottom: 2px solid #bc2e5b;
  font-size: 24px;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#links a {
  padding: 10px 20px;
}
.buttonInscreva a {

  border: 4px solid #470117;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  color: #620724;
}
#buttonMobile {
  display: none;
}
}
@media (max-width: 925px) {

  #header{
  background-color: #FFF5F9;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #bc2e5b;
  font-size: 18px;
  }

  #buttonMobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 50%;
    top: 80px;
    right: 0px;
    background:  #FFB9DB;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #links{
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }
  #links a {
    padding: 10px;
    margin:10px;
    border-bottom: 2px solid #E8618C;

}
}
.arrowUp{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.arrowUp svg{
  font-size: 1.5em;
  color: #bc2e5b;
}