@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Gerais */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
  color: #0d0d0d;
}

h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
p {
  margin-top: 20px;
  font-size: 20px;
}
span {
  display: block;
}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 2px solid #d9517c;
}
@media (max-width: 728px) {
  .displayNoneMobile {
    display: none;
  }
}
img {
  padding-top: 20px;
  max-width: 300px;
}

.grid-center {
  display: grid;
  justify-items: center;
  justify-content: center;
}
.contaier-fluid {
  width: 100%;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  width: 90%;
  margin: 10px auto;
}
.title {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 728px) {
  .grade2colunas1linha {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5%;
  }
  .grade4colunas2linhas {
    margin: 40px Auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;
  }
  /*grade de galeria de fotos*/
  .grade3colunas2linhas {
    margin: 40px Auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 30px;
  }
  .displayNoneWeb {
    display: none;
  }
}

.bgDegrade1 {
  display: grid;
  background: linear-gradient(270deg, #faedca, #eeb0b1);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bgDegrade2 {
  display: grid;
  background: linear-gradient(270deg, #eeb0b1, #faedca);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
/*NavBar*/
#links {
  display: none;
}
#header {
  border-bottom: 2px solid #e8618c;
}
#navMobile {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.buttonInscreva {
  padding: 7px 14px;
  border: 4px solid #470117;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  color: #620724;
}
@media (min-width: 728px) {
  h2 {
    font-size: 24px;
  }

  #navMobile {
    display: none;
  }
  #links {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/* cta com foto*/
.img-institucional img {
  width: 350px;
}
.ctaComFoto a {
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 70%;
  background: #ff8aaf;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #470117;
}
.sobreProjeto {
  background: #ffb9db;
}
.sobreCentral img {
  border-radius: 50%;
}
/*galerias*/
.mainGaleria {
  text-align: center;
}
.grid-galeria-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imgAjuste {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.galeria-ambiente {
  margin: 40px Auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 15px;
}
.galeria-fotos {
  margin: 40px Auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 30px;
}

/*galeria web*/
@media (min-width: 728px) {
  .galeria-ambiente {
    margin: 40px Auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;
  }
  .galeria-fotos {
    margin: 40px Auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 30px;
  }
  .imgAjuste {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .itemAjuste {
    overflow: hidden;
  }
  .foto01 {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  .foto02 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .foto03 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  .foto04 {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}
/*Idealizadoras*/
.idealizadoras {
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.idealizadoras img {
  border-radius: 50%;
}
/*cta sem foto*/
.ctaSemFoto {
  text-align: center;
  background-color: #ffb9db;
  padding-top: 40px;
}
.ctaSemFoto h2 {
  font-size: 20px;
  padding-top: 20px;
}
.ctaSemFoto a {
  margin: 20px auto 60px;
  background: #94173f;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
}
/*proximo*/
.formContato {
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
}

#formulario {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  width: 90%;
  margin-top: 10px;
}
#formulario label {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 5px;
}
#nome,
#celular,
#mensagem {
  font-size: 24px;
  background: #f0e0e6;
  border: 2px solid #ded0d5;
  border-radius: 7px;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#nome:hover,
#celular:hover,
#mensagem:hover {
  border: 2px solid #d9517c;
}
#nome:focus,
#celular:focus,
#mensagem:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 2px solid #d9517c;
}
#nome:active,
#celular:active,
#mensagem:active {
  border: 2px solid #d9517c;
}
#mensagem {
  height: 100px;
  resize: none;
}
#enviarWhatsapp {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 10px;
  background: #ff8aaf;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #470117;
  border: none;
}
@media (min-width: 728px) {
  #enviarWhatsapp {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 52%;
    background: #ff8aaf;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    color: #470117;
    border: none;
  }
}
/*informações de contato*/
.contato {
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
}
.titleInformacoes {
  font-size: 20px;
  padding-top: 30px;
}
.arrowUp {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.arrowUp img {
  font-size: 1.5vh;
  color: #bc2e5b;
}
